﻿@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb.Core
@using System
@using System.Web
@using System.Collections.Generic
@using Dynamicweb.Rapido.Blocks

@{ 
    bool gridOnlyPreview = Pageview.AreaSettings.GetItem("Ecommerce").GetBoolean("OnlyPreviewForAnonymous") && Pageview.User == null;
    bool gridPointShopOnly = Pageview.AreaSettings.GetItem("Ecommerce").GetBoolean("PointShopOnly");
    string gridCartIcon = Pageview.AreaSettings.GetItem("Layout").GetItem("Icons").GetString("CartIcon") != null ? Pageview.AreaSettings.GetItem("Layout").GetItem("Icons").GetList("CartIcon").SelectedValue : "fas fa-shopping-cart";
    string gridViewColumns = Pageview.AreaSettings.GetItem("ProductList").GetItem("GridView").GetString("Columns") != null ? Pageview.AreaSettings.GetItem("ProductList").GetItem("GridView").GetList("Columns").SelectedValue : "4";
    bool gridViewShowCartButton = Pageview.AreaSettings.GetItem("ProductList").GetItem("GridView").GetString("ShowAddToCartButton") != null ? Pageview.AreaSettings.GetItem("ProductList").GetItem("GridView").GetBoolean("ShowAddToCartButton") : true;
    bool gridViewShowViewButton = Pageview.AreaSettings.GetItem("ProductList").GetItem("GridView").GetString("ShowViewButton") != null ? Pageview.AreaSettings.GetItem("ProductList").GetItem("GridView").GetBoolean("ShowViewButton") : true;
    bool gridViewShowStock = Pageview.AreaSettings.GetItem("ProductList").GetItem("GridView").GetString("ShowStockAndShipping") != null ? Pageview.AreaSettings.GetItem("ProductList").GetItem("GridView").GetBoolean("ShowStockAndShipping") : true;
    bool gridViewShowNumber = Pageview.AreaSettings.GetItem("ProductList").GetItem("GridView").GetString("ShowProductNumber") != null ? Pageview.AreaSettings.GetItem("ProductList").GetItem("GridView").GetBoolean("ShowProductNumber") : true;
    string cartButtonText = Converter.ToInt32(gridViewColumns) >= 4 ? Translate("Add to cart") : "";
    string gridViewMoreText = Pageview.AreaSettings.GetItem("ProductList").GetItem("GridView").GetString("ViewMoreText") != null ? Pageview.AreaSettings.GetItem("ProductList").GetItem("GridView").GetString("ViewMoreText") : "View";
    bool gridUseGoogleTagManager = !string.IsNullOrEmpty(Pageview.AreaSettings.GetItem("Settings").GetString("GoogleTagManagerID"));

    BlocksPage productListViewGridBlocksPage = BlocksPage.GetBlockPage("ProductList");

    if (Pageview.AreaSettings.GetItem("ProductList").GetBoolean("EnableGridView"))
    {
        Block newView = new Block
        {
            Id = "ProductGridItemContainer",
            Name = "th",
            SortId = 20
        };
        productListViewGridBlocksPage.Add("Views", newView);
    }
}

<script id="ProductGridItemContainer" type="text/x-template">
    {{#.}}
    <div id="Product{{id}}" data-template="ProductGridItem" data-preloader="overlay" class="grid__col-lg-@gridViewColumns grid__col-md-@gridViewColumns grid__col-sm-@gridViewColumns grid__col-xs-6 product-list__grid-item dw-mod">
        {{#Product}}
            {{>ProductGridItem}}
        {{/Product}}
    </div>
    {{/.}}
</script>

<script id="ProductGridItem" type="text/x-template">
    {{#.}}
        @if (gridUseGoogleTagManager)
        {
            <text>{{{googleEnchantImpression 'Product catalogue' currency googleImpression}}}</text>
        }
        <input type="hidden" name="ProductLoopCounter{{id}}" value="{{id}}" />
        <input type="hidden" name="ProductID{{id}}" value="{{productId}}" />

        <div class="grid__cell product-list__grid-item__image dw-mod {{noImage}}">
            <div class="stickers-container u-padding dw-mod">
                {{#Stickers}}
                    {{>Sticker}}
                {{/Stickers}}
            </div>
            <a href="{{link}}" onclick="Scroll.SavePosition(event); {{googleImpressionClick}}" title="{{name}}">
                <img class="grid__cell-img grid__cell-img--centered u-padding b-lazy" src="/Files/Images/placeholder.gif" data-src="/Admin/Public/GetImage.ashx?width=300&amp;height=300&amp;crop=5&amp;Compression=75&amp;FillCanvas=true&amp;DoNotUpscale=true&amp;image={{image}}" alt="{{name}}" />
            </a>
            <div class="favorites favorites--for-grid-view u-pull--right {{hasVariants}} dw-mod" {{hasVariants}}>
                {{#Favorite}}
                    {{>FavoriteTemplate}}
                {{/Favorite}}
            </div>
        </div>

        <div class="grid__cell product-list__grid-item__price-info {{shortGridInfo}} dw-mod">
            <a href="{{link}}" onclick="Scroll.SavePosition(event); {{googleImpressionClick}}" title="{{name}}">
                <h6 class="u-condensed-text">{{name}}</h6>
            </a>
            @if (gridViewShowNumber) {
                <div class="item-number dw-mod">{{number}}</div>
            }

            @if (!gridOnlyPreview)
                {
                    if (gridPointShopOnly)
                    {
                    <text>
                        {{#if havePointPrice}}
                        <div class="price price--product-list dw-mod">{{points}} @Translate("points")</div>
                        {{else}}
                        @Translate("Not available")
                        {{/if}}
                    </text>
                }
                else
                {
                    <div class="price price--product-list dw-mod">{{price}}</div>
                    <div class="before-price {{onSale}} dw-mod">{{discount}}</div>
                }
            }
            <input type="hidden" value="{{unitId}}" name="Unit{{id}}" id="Unit_{{id}}" />
            <input type="hidden" value="{{variantid}}" name="VariantID{{id}}" id="Variant_{{id}}" />
        </div>

        <div class="product-list__grid-item__footer dw-mod">
            @if (!gridOnlyPreview && gridViewShowCartButton)
                {
                <div class="u-ta-center u-inline-block">
                    <div class="buttons-collection {{hideBuyOptions}}">
                        @if (gridPointShopOnly)
                        {
                            <button type="button" id="CartButton_{{id}}" class="btn btn--primary btn--condensed u-no-margin dw-mod js-cart-btn {{disabledBuyButton}} {{#unless canBePurchasedWithPoints}}js-stay-disabled{{/unless}}" name="CartCmd" value="addWithPoints" 
                                    onclick="Cart.AddToCart(event, {
                                        id: {{productId}}', 
                                        variantId: '{{variantid}}', 
                                        unitId: '{{unitId}}', 
                                        quantity: 1, 
                                        buyForPoints: true,
                                        productInfo: {{productInfo}}
                                    }); {{facebookPixelAction}}" {{disabledBuyButton}}>
                                    <i class="@gridCartIcon"></i><span class="u-hidden-xs u-hidden-xxs"> @Translate("Buy with points")</span>
                            </button>
                        }
                        else
                        {
                            <button type="button" id="CartButton_{{id}}" class="js-cart-btn btn btn--primary btn--condensed u-no-margin u-pull--right dw-mod {{disabledBuyButton}}" name="submit" 
                                    onclick="Cart.AddToCart(event, {
                                        id: '{{productId}}', 
                                        variantId: '{{variantid}}', 
                                        unitId: '{{unitId}}', 
                                        quantity: document.getElementById('Quantity_{{id}}').value,
                                        productInfo: {{productInfo}}
                                    }); {{facebookPixelAction}}" {{disabledBuyButton}}>
                                    <i class="@gridCartIcon"></i><span class="u-hidden-xs u-hidden-xxs"> @cartButtonText</span>
                            </button>
                            <input type="number" class="u-w80px u-pull--right" id="Quantity_{{id}}" name="Quantity{{id}}" value="1" min="1">
                        }
                    </div>
                </div>
                if (gridViewShowViewButton)
                {
                <div class="u-ta-center {{hideViewMore}}">
                    <a href="{{link}}" id="CartButton_{{id}}" class="btn btn--secondary btn--full u-no-margin dw-mod" onclick="Scroll.SavePosition(event); {{googleImpressionClick}}" title="@Translate(gridViewMoreText)">@Translate(gridViewMoreText)</a>
                </div>
                }

            }
            else if (gridViewShowViewButton)
            {
            <div class="u-ta-center">
                <a href="{{link}}" id="CartButton_{{id}}" class="btn btn--secondary btn--full u-no-margin dw-mod" onclick="Scroll.SavePosition(event); {{googleImpressionClick}}" title="@Translate(gridViewMoreText)">@Translate(gridViewMoreText)</a>
            </div>
            }

            @if (!gridOnlyPreview && gridViewShowStock)
            {
                <div>
                    <span class="stock-icon {{stockState}} u-no-margin dw-mod" title="{{stockText}}"></span> {{stockText}}{{deliveryText}}
                </div>
            }
        </div>
    {{/.}}
</script>