/// -----------------------------------------------------------------------------
    // WARNING: THIS FILE IS AUTO GENERATED FROM _variables.cshtml
    // This file contains all application-wide Less variables.
    // -----------------------------------------------------------------------------
@layout-width:	"boxed";
@layout-center-width:	"1280px";
@layout-top:	"minimal";
@navigation-sticky-menu:	False;
@layout-background-color:	#FFFFFF;
@layout-background-image:	none;
@layout-brand-color-one:	#EC683B;
@layout-brand-color-two:	#14304A;
@logo-image:	"/Files/Images/DWLogo.svg";
@logo-background-color:	none;
@logo-favicon:	"/Files/Images/favicon.png";
@top-background-color:	none;
@top-links-color:	none;
@top-links-active-color:	none;
@render-pages-in-tool-bar:	False;
@tools-menu-background-color:	#F3F3F3;
@tools-menu-font-family-family:	"Lato";
@tools-menu-font-family-weight:	"regular";
@tools-menu-font-color:	#333333;
@tools-menu-font-size:	14;
@tools-menu-line-height:	1.4;
@tools-menu-casing:	"none";
@toolbar-text:	none;
@navigation-height:	40;
@navigation-font-family-family:	"Lato";
@navigation-font-family-weight:	"regular";
@navigation-font-color:	#FFFFFF;
@navigation-font-size:	14;
@navigation-line-height:	1.4;
@navigation-casing:	"none";
@navigation-active-font-color:	#FFFFFF;
@navigation-background-color:	#14304A;
@navigation-active-background-color:	#5544C2;
@navigation-active-design:	"line";
@navigation-shadow:	False;
@navigation-mega-menu:	"false";
@navigation-dropdown-background-color:	#FFFFFF;
@navigation-dropdown-font-color:	#333333;
@navigation-dropdown-active-color:	#FFFF38;
@navigation-dropdown-active-font-color:	#EC683B;
@navigation-dropdown-heading-color:	#333333;
@navigation-dropdown-heading-size:	1.6;
@navigation-megamenu-promotion-image:	none;
@navigation-megamenu-promotion-link:	none;
@show-create-account-link:	False;
@show-my-profile-link:	False;
@show-my-orders-link:	False;
@show-my-favorites-link:	False;
@show-my-saved-cards-link:	False;
@mobile-navigation-design:	"Expandable";
@mobile-navigation-background-color:	#DE5470;
@mobile-navigation-border-color:	none;
@mobile-navigation-font-family-family:	"Lato";
@mobile-navigation-font-family-weight:	"regular";
@mobile-navigation-font-color:	#FFFFFF;
@mobile-navigation-font-size:	14;
@mobile-navigation-line-height:	1.4;
@mobile-navigation-casing:	"none";
@mobile-navigation-active-background-color:	#A13D7C;
@mobile-navigation-active-border-color:	none;
@mobile-navigation-text-alignment:	"left";
@mobile-navigation-active-font-color:	#FFF130;
@mobile-navigation-levels:	3;
@content-layout-header-font-family-family:	"Lato";
@content-layout-header-font-family-weight:	"700";
@content-layout-header-font-color:	#333333;
@content-layout-header-font-size:	26;
@content-layout-header-line-height:	1.4;
@content-layout-header-casing:	"none";
@content-layout-subheader-font-family-family:	"Titillium Web";
@content-layout-subheader-font-family-weight:	"600";
@content-layout-subheader-font-color:	#333333;
@content-layout-subheader-font-size:	24;
@content-layout-subheader-line-height:	1.4;
@content-layout-subheader-casing:	"none";
@content-layout-body-text-font-family-family:	"Lato";
@content-layout-body-text-font-family-weight:	"regular";
@content-layout-body-text-font-color:	#333333;
@content-layout-body-text-font-size:	15;
@content-layout-body-text-line-height:	1.4;
@content-layout-body-text-casing:	"none";
@content-layout-primary-background-color:	#EC683B;
@content-layout-primary-font-color:	#FFFFFF;
@content-layout-primary-font-size:	15;
@content-layout-primary-line-height:	38;
@content-layout-primary-font-weight:	"normal";
@content-layout-primary-button-design:	"square";
@content-layout-secondary-background-color:	#14304A;
@content-layout-secondary-font-color:	#14304A;
@content-layout-secondary-font-size:	15;
@content-layout-secondary-line-height:	38;
@content-layout-secondary-font-weight:	"normal";
@content-layout-secondary-button-design:	"outline-square";
@content-layout-tertiary-background-color:	#333333;
@content-layout-tertiary-font-color:	#FFFFFF;
@content-layout-tertiary-font-size:	15;
@content-layout-tertiary-line-height:	36;
@content-layout-tertiary-font-weight:	"normal";
@content-layout-tertiary-button-design:	none;
@content-layout-links-color:	#EC683B;
@content-layout-links-hover-color:	#0085CA;
@content-layout-pagination-active-color:	none;
@footer-background-color:	#191919;
@footer-font-color:	#D3D3D3;
@footer-column-one-header:	none;
@footer-column-two-header:	none;
@footer-column-two:	none;
@footer-column-three-header:	none;
@footer-column-three:	none;
@footer-newsletter-sign-up:	False;
@footer-social-links:	141;
@footer-copyright-text:	"© 2018 Dynamicweb";
@email-logo-image:	none;
@email-logo-alignment:	none;
@header-and-footer-background-color:	none;
@header-and-footer-font-color:	none;
@addresses-list-view:	none;
@ecommerce-facets-view-mode:	"left";
@open-facet-groups:	"1000";
@hide-sorting:	False;
@product-item-container:	True;
@product-grid-item-container:	True;
@product-details-item-container:	True;
@product-default-list-view:	"ProductItemContainer";
@only-preview-for-anonymous:	False;
@promotion-block-design:	"OnlyText";
@ecommerce-receipt-logo-image:	none;
@ecommerce-receipt-header:	none;
@ecommerce-receipt-header-font-color:	none;
@enable-sale-tags:	False;
@ecommerce-sale-tag-content-type:	none;
@ecommerce-sale-tag-background-color:	none;
@ecommerce-sale-tag-font-family-family:	"Lato";
@ecommerce-sale-tag-font-family-weight:	"regular";
@ecommerce-sale-tag-font-color:	#333333;
@ecommerce-sale-tag-font-size:	14;
@ecommerce-sale-tag-line-height:	1.4;
@ecommerce-sale-tag-casing:	"none";
@ecommerce-sale-tag-design:	"squared";
@new-stickers-enable:	False;
@new-stickers-expiration:	3;
@new-stickers-background:	none;
@new-stickers-font-family-family:	"Lato";
@new-stickers-font-family-weight:	"regular";
@new-stickers-font-color:	#333333;
@new-stickers-font-size:	14;
@new-stickers-line-height:	1.4;
@new-stickers-casing:	"none";
@new-stickers-design:	"squared";
@custom-stickers-background-color:	none;
@custom-stickers-font-family-family:	"Lato";
@custom-stickers-font-family-weight:	"regular";
@custom-stickers-font-color:	#333333;
@custom-stickers-font-size:	14;
@custom-stickers-line-height:	1.4;
@custom-stickers-casing:	"none";
@custom-stickers-design:	"squared";
@hide-payment:	False;
@hide-shipping:	False;
@hide-recurring-order:	False;
@hide-comment:	False;
@hide-subtotal:	False;
@hide-quotes-cart-link:	False;
@hide-free-services:	False;
@header-button-text:	none;
@header-button-link:	none;
@header-button-type:	none;
@-name:	none;
@-country:	none;
@-city:	none;
@-region:	none;
@-postal-code:	none;
@-street-address:	none;
@-cvr-number:	none;
@business-name:	none;
@contact-email:	none;
@contact-number:	none;
@business-photo:	none;
@wireframe-mode:	False;
@google-maps-api-key:	none;
@use-custom-javascript:	False;
@custom-settings-custom-settings:	none;
