/// -----------------------------------------------------------------------------
    // WARNING: THIS FILE IS AUTO GENERATED
    // This file contains all application-wide Less variables.
    // -----------------------------------------------------------------------------
@layout-page-width:	"boxed";
@layout-page-center-width:	"1280px";
@layout-page-background-color:	#FFFFFF;
@layout-page-background-image:	none;
@layout-brand-color-one:	#A80500;
@layout-brand-color-two:	#F41109;
@layout-brand-color-three:	#FF9322;
@layout-brand-color-four:	#FFF700;
@layout-brand-color-five:	#0088B2;
@layout-logo-image:	"/Files/Images/Demo/Rapido-bikes-mix6.svg";
@layout-logo-height:	80;
@layout-logo-background-color:	none;
@layout-logo-favicon:	"/Files/Images/favicon.png";
@layout-header-top-layout:	"minimal-right";
@layout-header-sticky-top:	True;
@layout-header-render-pages-in-tool-bar:	True;
@layout-header-tools-background-color:	#333333;
@layout-header-tools-font-font-family-family:	"Abel";
@layout-header-tools-font-font-family-style:	none;
@layout-header-tools-font-font-family-weight:	"regular";
@layout-header-tools-font-font-color:	#FFFFFF;
@layout-header-tools-font-font-size:	16;
@layout-header-tools-font-line-height:	1.4;
@layout-header-tools-font-casing:	"none";
@layout-header-tools-text:	"<i class="far fa-truck"></i> GRATIS fragt på order over 500";
@layout-header-extra-top-background-color:	#333333;
@layout-header-extra-top-links-color:	#FFFFFF;
@layout-header-extra-top-links-active-color:	#FFFFFF;
@layout-header-navigation-height:	55;
@layout-header-navigation-font-font-family-family:	"Lato";
@layout-header-navigation-font-font-family-style:	none;
@layout-header-navigation-font-font-family-weight:	"regular";
@layout-header-navigation-font-font-color:	#FFFFFF;
@layout-header-navigation-font-font-size:	14;
@layout-header-navigation-font-line-height:	1.4;
@layout-header-navigation-font-casing:	"uppercase";
@layout-header-navigation-active-font-color:	#E6C075;
@layout-header-navigation-background-color:	#1F1F1F;
@layout-header-navigation-active-background-color:	#FFFFFF;
@layout-header-navigation-active-design:	"line";
@layout-header-navigation-shadow:	False;
@layout-header-hide-search:	False;
@layout-header-hide-sign-in:	False;
@layout-header-hide-favorites:	False;
@layout-header-hide-cart:	False;
@layout-header-language-selector:	"flag-name";
@layout-header-header-button-text:	none;
@layout-header-header-button-link:	none;
@layout-header-header-button-type:	"Primary";
@layout-header-sign-in-hide-create-account:	False;
@layout-header-sign-in-hide-profile:	False;
@layout-header-sign-in-hide-orders:	False;
@layout-header-sign-in-hide-favorites:	False;
@layout-header-sign-in-hide-saved-cards:	False;
@layout-header-navigation-mega-menu:	"false";
@layout-header-dropdown-background-color:	#333333;
@layout-header-dropdown-active-color:	#616161;
@layout-header-dropdown-font-color:	#FFFFFF;
@layout-header-dropdown-active-font-color:	#E6C075;
@layout-header-dropdown-heading-color:	#333333;
@layout-header-dropdown-heading-size:	1.6;
@layout-header-megamenu-promotion-image:	none;
@layout-header-megamenu-promotion-link:	none;
@layout-top-search:	"combinedSearch";
@layout-search-results-facets-view-mode:	"left";
@layout-show-groups-selector:	False;
@layout-icons-use-font-awesome-pro:	True;
@layout-icons-sign-in-profile-icon:	"fal fa-user";
@layout-icons-favorite-icon:	"star";
@layout-icons-cart-icon:	"fal fa-shopping-bag";
@layout-icons-language-icon:	"fal fa-flag";
@layout-icons-search-icon:	"fal fa-search";
@layout-mobile-top-design:	"nav-left";
@layout-mobile-top-logo:	"/Files/Images/Demo/Rapido-bikes-mix6.svg";
@layout-mobile-top-background-color:	#1F1F1F;
@layout-mobile-top-font-color:	#FFFFFF;
@layout-header-font-font-family-family:	"Alegreya Sans";
@layout-header-font-font-family-style:	none;
@layout-header-font-font-family-weight:	"500";
@layout-header-font-font-color:	#333333;
@layout-header-font-font-size:	50;
@layout-header-font-line-height:	1.4;
@layout-header-font-casing:	"none";
@layout-subheader-font-font-family-family:	"Barlow";
@layout-subheader-font-font-family-style:	none;
@layout-subheader-font-font-family-weight:	"700";
@layout-subheader-font-font-color:	#333333;
@layout-subheader-font-font-size:	35;
@layout-subheader-font-line-height:	1.4;
@layout-subheader-font-casing:	"none";
@layout-tertiary-header-font-font-family-family:	"Lato";
@layout-tertiary-header-font-font-family-style:	none;
@layout-tertiary-header-font-font-family-weight:	"regular";
@layout-tertiary-header-font-font-color:	#333333;
@layout-tertiary-header-font-font-size:	20;
@layout-tertiary-header-font-line-height:	1.4;
@layout-tertiary-header-font-casing:	"none";
@layout-body-text-font-family-family:	"Titillium Web";
@layout-body-text-font-family-style:	none;
@layout-body-text-font-family-weight:	"regular";
@layout-body-text-font-color:	#333333;
@layout-body-text-font-size:	16;
@layout-body-text-line-height:	1.4;
@layout-body-text-casing:	"none";
@layout-primary-button-background-color:	#F41109;
@layout-primary-button-font-color:	#FFFFFF;
@layout-primary-button-font-size:	15;
@layout-primary-button-line-height:	20;
@layout-primary-button-font-weight:	"normal";
@layout-primary-button-button-design:	"rounded";
@layout-secondary-button-background-color:	#439C55;
@layout-secondary-button-font-color:	#439C55;
@layout-secondary-button-font-size:	15;
@layout-secondary-button-line-height:	20;
@layout-secondary-button-font-weight:	"normal";
@layout-secondary-button-button-design:	"outline-round";
@layout-tertiary-button-background-color:	#333333;
@layout-tertiary-button-font-color:	#FFFFFF;
@layout-tertiary-button-font-size:	20;
@layout-tertiary-button-line-height:	36;
@layout-tertiary-button-font-weight:	"normal";
@layout-tertiary-button-button-design:	"round";
@layout-links-color:	#F41109;
@layout-links-hover-color:	#F41109;
@layout-pagination-active-color:	#333333;
@layout-footer-background-color:	#333333;
@layout-footer-font-color:	#FFFFFF;
@layout-footer-column-one-header:	"Kontakt";
@layout-footer-column-two-header:	"Åbningstider";
@layout-footer-column-three-header:	none;
@layout-footer-column-three-content:	none;
@layout-footer-newsletter-sign-up:	True;
@layout-footer-social-links:	943;
@layout-footer-copyright-text:	"© 2018 Dynamicweb -  Rapido 3.0.1 Alle rettigheder forbeholdes";
@layout-footer-payments:	944;
@layout-emails-logo-image:	"/Files/Images/Demo/Rapido-bikes-mix6.png";
@layout-emails-logo-alignment:	"left";
@layout-emails-footer-alignment:	"left";
@layout-emails-header-and-footer-background-color:	#1F1F1F;
@layout-emails-header-and-footer-font-color:	#FFFFFF;
@layout-mobile-navigation-design:	"Slides";
@layout-mobile-navigation-background-color:	#FFFFFF;
@layout-mobile-navigation-border-color:	#E1E1E1;
@layout-mobile-navigation-font-font-family-family:	"Lato";
@layout-mobile-navigation-font-font-family-style:	none;
@layout-mobile-navigation-font-font-family-weight:	"regular";
@layout-mobile-navigation-font-font-color:	#333333;
@layout-mobile-navigation-font-font-size:	18;
@layout-mobile-navigation-font-line-height:	2;
@layout-mobile-navigation-font-casing:	"none";
@layout-mobile-navigation-active-background-color:	#F6F6F6;
@layout-mobile-navigation-active-font-color:	#333333;
@layout-mobile-navigation-active-border-color:	#F6F6F6;
@layout-mobile-navigation-text-alignment:	"left";
@layout-mobile-navigation-levels:	3;
@product-list-default-list-view:	"ProductItemContainer";
@product-list-enable-list-view:	True;
@product-list-enable-grid-view:	True;
@product-list-enable-details-view:	True;
@product-list-enable-sorting:	True;
@product-list-facets-view-mode:	"left";
@product-list-open-facet-groups:	"3";
@product-list-list-view-show-add-to-cart-button:	True;
@product-list-list-view-show-view-button:	True;
@product-list-list-view-show-product-number:	True;
@product-list-list-view-background-color:	#FFFFFF;
@product-list-list-view-border-color:	#FFFFFF;
@product-list-list-view-border-mode:	"none";
@product-list-list-view-view-more-text:	"Se mere";
@product-list-list-view-show-stock-and-shipping:	False;
@product-list-grid-view-columns:	"3";
@product-list-grid-view-show-add-to-cart-button:	False;
@product-list-grid-view-show-view-button:	True;
@product-list-grid-view-show-stock-and-shipping:	False;
@product-list-grid-view-show-product-number:	True;
@product-list-grid-view-alignment:	"center";
@product-list-grid-view-background-color:	#FFFFFF;
@product-list-grid-view-border-color:	#FFFFFF;
@product-list-grid-view-border-mode:	"none";
@product-list-grid-view-view-more-text:	"Se mere";
@product-list-details-view-show-add-to-cart-button:	True;
@product-list-details-view-show-view-button:	True;
@product-list-details-view-show-product-number:	True;
@product-list-details-view-show-stock-and-shipping:	True;
@product-list-details-view-show-image:	True;
@product-list-details-view-background-color:	#FFFFFF;
@product-list-details-view-border-color:	#FFFFFF;
@product-list-details-view-border-mode:	"none";
@product-list-details-view-view-more-text:	"Se mere";
@product-list-facets-border-color:	#FF9322;
@product-list-facets-border-mode:	"line";
@product-list-facets-header-font-font-family-family:	"Lato";
@product-list-facets-header-font-font-family-style:	none;
@product-list-facets-header-font-font-family-weight:	"700";
@product-list-facets-header-font-font-color:	#333333;
@product-list-facets-header-font-font-size:	16;
@product-list-facets-header-font-line-height:	1.4;
@product-list-facets-header-font-casing:	"none";
@product-list-facets-header-background-color:	#FFFFFF;
@product-list-facets-box-background-color:	#FFFFFF;
@product-list-facets-box-height:	"250";
@product-list-promotion-block-design:	"Banner";
@product-list-price-font-design-font-family-family:	"Lato";
@product-list-price-font-design-font-family-style:	none;
@product-list-price-font-design-font-family-weight:	"regular";
@product-list-price-font-design-font-color:	#333333;
@product-list-price-font-design-font-size:	14;
@product-list-price-font-design-line-height:	1.4;
@product-list-price-font-design-casing:	"none";
@product-list-price-background-color:	#FFFFFF;
@product-list-price-border-color:	#FFFFFF;
@product-page-image-section-position:	"left-left";
@product-page-top-layout:	"6";
@product-page-buy-section-alignment:	"left";
@product-page-stock-alignment:	"left";
@product-page-price-alignment:	"left";
@product-page-hide-stock-state:	False;
@product-page-hide-shipping:	False;
@product-page-hide-product-number:	False;
@product-page-full-description-layout:	"Tabs";
@product-page-detail-fields-layout:	"MainInformation";
@product-page-category-fields-layout:	"Tabs";
@product-page-downloads-layout:	"Tabs";
@product-page-videos-layout:	"Ribbon";
@product-page-related-products-layout:	"Section";
@product-page-variants-list-layout:	"hide";
@product-page-detail-fields-view:	"table";
@product-page-category-fields-view:	"grid";
@product-page-downloads-view:	"table";
@product-page-render-variants-as-product-list:	False;
@product-page-render-variant-groups-in-table:	True;
@product-page-variants-table-columns:	none;
@product-page-price-font-design-font-family-family:	"Lato";
@product-page-price-font-design-font-family-style:	none;
@product-page-price-font-design-font-family-weight:	"regular";
@product-page-price-font-design-font-color:	#333333;
@product-page-price-font-design-font-size:	20;
@product-page-price-font-design-line-height:	1.4;
@product-page-price-font-design-casing:	"none";
@product-page-price-background-color:	#FFFFFF;
@product-page-price-border-color:	#FFFFFF;
@ecommerce-checkout-hide-payment:	False;
@ecommerce-checkout-hide-shipping:	False;
@ecommerce-checkout-hide-voucher:	False;
@ecommerce-checkout-hide-recurring-order:	False;
@ecommerce-checkout-hide-comment:	False;
@ecommerce-checkout-hide-subtotal:	False;
@ecommerce-checkout-hide-quotes-cart-link:	False;
@ecommerce-checkout-hide-free-services:	False;
@ecommerce-receipt-logo-image:	"/Files/Images/Demo/Rapido-bikes-mix6.png";
@ecommerce-receipt-header-background-color:	#1F1F1F;
@ecommerce-receipt-header-font-color:	#FFFFFF;
@ecommerce-sale-sticker-enable:	True;
@ecommerce-sale-sticker-design:	"squared";
@ecommerce-sale-sticker-background-color:	#FF9322;
@ecommerce-sale-sticker-font-font-family-family:	"Lato";
@ecommerce-sale-sticker-font-font-family-style:	none;
@ecommerce-sale-sticker-font-font-family-weight:	"regular";
@ecommerce-sale-sticker-font-font-color:	#FFFFFF;
@ecommerce-sale-sticker-font-font-size:	16;
@ecommerce-sale-sticker-font-line-height:	1.4;
@ecommerce-sale-sticker-font-casing:	"none";
@ecommerce-sale-sticker-content-type:	"Default+text";
@ecommerce-sale-sticker-expiration:	0;
@ecommerce-new-sticker-enable:	True;
@ecommerce-new-sticker-design:	"squared";
@ecommerce-new-sticker-background-color:	#439C55;
@ecommerce-new-sticker-font-font-family-family:	"Lato";
@ecommerce-new-sticker-font-font-family-style:	none;
@ecommerce-new-sticker-font-font-family-weight:	"regular";
@ecommerce-new-sticker-font-font-color:	#FFFFFF;
@ecommerce-new-sticker-font-font-size:	16;
@ecommerce-new-sticker-font-line-height:	1.4;
@ecommerce-new-sticker-font-casing:	"none";
@ecommerce-new-sticker-content-type:	"Default+text";
@ecommerce-new-sticker-expiration:	7;
@ecommerce-custom-sticker-enable:	False;
@ecommerce-custom-sticker-design:	"squared";
@ecommerce-custom-sticker-background-color:	#333333;
@ecommerce-custom-sticker-font-font-family-family:	"Lato";
@ecommerce-custom-sticker-font-font-family-style:	none;
@ecommerce-custom-sticker-font-font-family-weight:	"regular";
@ecommerce-custom-sticker-font-font-color:	#FFFFFF;
@ecommerce-custom-sticker-font-font-size:	16;
@ecommerce-custom-sticker-font-line-height:	1.4;
@ecommerce-custom-sticker-font-casing:	"none";
@ecommerce-custom-sticker-content-type:	"Default+text";
@ecommerce-custom-sticker-expiration:	0;
@ecommerce-point-shop-only:	False;
@ecommerce-loyalty-points-color:	#0A98DE;
@ecommerce-only-preview-for-anonymous:	False;
@ecommerce-mini-cart-add-to-cart-notification-type:	"toggle";
@ecommerce-mini-cart-show-price:	False;
@ecommerce-mini-cart-counter-position:	"top";
@ecommerce-mini-cart-counter-design:	"rounded";
@ecommerce-mini-cart-background-color:	#FFFFFF;
@ecommerce-mini-cart-font-color:	#333333;
@ecommerce-mini-cart-animation-type:	"blink";
@ecommerce-mini-cart-animation-background-color:	#FFFFFF;
@ecommerce-mini-cart-animation-font-color:	#333333;
@settings-address-name:	"Dynamicweb Software A/S";
@settings-address-country:	"Denmark";
@settings-address-city:	"Viby J";
@settings-address-region:	none;
@settings-address-postal-code:	"8260";
@settings-address-street-address:	"Bjørnholms Alle 30";
@settings-address-cvr-number:	none;
@settings-business-name:	"Dynamicweb Software A/S";
@settings-contact-email:	"info@dynamicweb.dk";
@settings-contact-number:	"+4570252090";
@settings-business-photo:	"/Files/Images/logo-dynamicweb.png";
@settings-business-logo:	"/Files/Images/logo-dynamicweb.png";
@settings-opening-hours:	none;
@settings-addresses-list-view:	"Rows";
@settings-wireframe-mode:	False;
@settings-google-maps-api-key:	none;
@settings-google-tag-manager-id:	none;
@settings-facebook-pixel-id:	none;
@custom-use-custom-javascript:	False;
@custom-custom-settings-custom-settings:	none;
