/// -----------------------------------------------------------------------------
    // WARNING: THIS FILE IS AUTO GENERATED
    // This file contains all application-wide Less variables.
    // -----------------------------------------------------------------------------
@layout-page-width:	"full";
@layout-page-center-width:	"1000px";
@layout-page-background-color:	#FFFFFF;
@layout-page-background-image:	none;
@layout-brand-color-one:	#0085CA;
@layout-brand-color-two:	#FFFFFF;
@layout-brand-color-three:	#FFFFFF;
@layout-brand-color-four:	#FFFFFF;
@layout-brand-color-five:	#FFFFFF;
@layout-logo-image:	none;
@layout-logo-height:	40;
@layout-logo-background-color:	#FFFFFF;
@layout-logo-favicon:	none;
@layout-header-top-layout:	"normal";
@layout-header-sticky-top:	False;
@layout-header-render-pages-in-tool-bar:	False;
@layout-header-tools-background-color:	#FFFFFF;
@layout-header-tools-font-font-family-family:	"Lato";
@layout-header-tools-font-font-family-weight:	"regular";
@layout-header-tools-font-font-color:	#333333;
@layout-header-tools-font-font-size:	14;
@layout-header-tools-font-line-height:	1.4;
@layout-header-tools-font-casing:	"none";
@layout-header-tools-text:	none;
@layout-header-extra-top-background-color:	#FFFFFF;
@layout-header-extra-top-links-color:	#0085CA;
@layout-header-extra-top-links-active-color:	#5286FF;
@layout-header-navigation-height:	0;
@layout-header-navigation-font-font-family-family:	"Lato";
@layout-header-navigation-font-font-family-weight:	"regular";
@layout-header-navigation-font-font-color:	#333333;
@layout-header-navigation-font-font-size:	14;
@layout-header-navigation-font-line-height:	1.4;
@layout-header-navigation-font-casing:	"none";
@layout-header-navigation-active-font-color:	#FFFFFF;
@layout-header-navigation-background-color:	#0085CA;
@layout-header-navigation-active-background-color:	#333333;
@layout-header-navigation-active-design:	"line";
@layout-header-hide-search:	False;
@layout-header-hide-sign-in:	False;
@layout-header-hide-favorites:	False;
@layout-header-hide-cart:	False;
@layout-header-navigation-shadow:	False;
@layout-header-language-selector:	"flag-name";
@layout-header-header-button-text:	none;
@layout-header-header-button-link:	none;
@layout-header-header-button-type:	"Primary";
@layout-header-sign-in-hide-create-account:	False;
@layout-header-sign-in-hide-profile:	False;
@layout-header-sign-in-hide-orders:	False;
@layout-header-sign-in-hide-favorites:	False;
@layout-header-sign-in-hide-saved-cards:	False;
@layout-header-navigation-mega-menu:	"false";
@layout-header-dropdown-background-color:	#F6F6F6;
@layout-header-dropdown-font-color:	#333333;
@layout-header-dropdown-active-color:	#FFFFFF;
@layout-header-dropdown-active-font-color:	#FFFFFF;
@layout-header-dropdown-heading-color:	#FFFFFF;
@layout-header-dropdown-heading-size:	1.6;
@layout-header-megamenu-promotion-image:	none;
@layout-header-megamenu-promotion-link:	none;
@layout-top-search:	"productSearch";
@layout-search-results-facets-view-mode:	"left";
@layout-show-groups-selector:	False;
@layout-icons-use-font-awesome-pro:	False;
@layout-icons-sign-in-profile-icon:	"fas fa-user";
@layout-icons-favorite-icon:	"star";
@layout-icons-cart-icon:	"fas fa-shopping-cart";
@layout-icons-language-icon:	"fas fa-globe";
@layout-icons-search-icon:	"fas fa-search";
@layout-mobile-top-design:	"nav-left";
@layout-mobile-top-mobile-layout-logo:	none;
@layout-mobile-top-mobile-layout-top-background-color:	#FFFFFF;
@layout-mobile-top-mobile-layout-top-font-color:	#FFFFFF;
@layout-header-font-font-family-family:	"Lato";
@layout-header-font-font-family-weight:	"regular";
@layout-header-font-font-color:	#333333;
@layout-header-font-font-size:	14;
@layout-header-font-line-height:	1.4;
@layout-header-font-casing:	"none";
@layout-subheader-font-font-family-family:	"Lato";
@layout-subheader-font-font-family-weight:	"regular";
@layout-subheader-font-font-color:	#333333;
@layout-subheader-font-font-size:	14;
@layout-subheader-font-line-height:	1.4;
@layout-subheader-font-casing:	"none";
@layout-tertiary-header-font-font-family-family:	"Lato";
@layout-tertiary-header-font-font-family-weight:	"regular";
@layout-tertiary-header-font-font-color:	#333333;
@layout-tertiary-header-font-font-size:	14;
@layout-tertiary-header-font-line-height:	1.4;
@layout-tertiary-header-font-casing:	"none";
@layout-body-text-font-family-family:	"Lato";
@layout-body-text-font-family-weight:	"regular";
@layout-body-text-font-color:	#333333;
@layout-body-text-font-size:	14;
@layout-body-text-line-height:	1.4;
@layout-body-text-casing:	"none";
@layout-primary-button-background-color:	#333333;
@layout-primary-button-font-color:	#FFFFFF;
@layout-primary-button-font-size:	15;
@layout-primary-button-line-height:	36;
@layout-primary-button-font-weight:	"normal";
@layout-primary-button-button-design:	none;
@layout-secondary-button-background-color:	#333333;
@layout-secondary-button-font-color:	#FFFFFF;
@layout-secondary-button-font-size:	15;
@layout-secondary-button-line-height:	36;
@layout-secondary-button-font-weight:	"normal";
@layout-secondary-button-button-design:	none;
@layout-tertiary-button-background-color:	#333333;
@layout-tertiary-button-font-color:	#FFFFFF;
@layout-tertiary-button-font-size:	15;
@layout-tertiary-button-line-height:	36;
@layout-tertiary-button-font-weight:	"normal";
@layout-tertiary-button-button-design:	none;
@layout-links-color:	#0085CA;
@layout-links-hover-color:	#0085CA;
@layout-pagination-active-color:	#333333;
@layout-footer-background-color:	#A8A8A8;
@layout-footer-font-color:	#333333;
@layout-footer-column-one-header:	none;
@layout-footer-column-one-content:	none;
@layout-footer-column-two-header:	none;
@layout-footer-column-two-content:	none;
@layout-footer-column-three-header:	none;
@layout-footer-column-three-content:	none;
@layout-footer-newsletter-sign-up:	False;
@layout-footer-social-links:	807;
@layout-footer-copyright-text:	"© 2017 Dynamicweb";
@layout-footer-payments:	808;
@layout-emails-email-logo-image:	none;
@layout-emails-email-logo-alignment:	"Left";
@layout-emails-footer-alignment:	"Right";
@layout-emails-header-and-footer-background-color:	#FFFFFF;
@layout-emails-header-and-footer-font-color:	#FFFFFF;
@layout-mobile-navigation-design:	"Expandable";
@layout-mobile-navigation-background-color:	#FFFFFF;
@layout-mobile-navigation-border-color:	#FFFFFF;
@layout-mobile-navigation-font-font-family-family:	"Lato";
@layout-mobile-navigation-font-font-family-weight:	"regular";
@layout-mobile-navigation-font-font-color:	#333333;
@layout-mobile-navigation-font-font-size:	14;
@layout-mobile-navigation-font-line-height:	1.4;
@layout-mobile-navigation-font-casing:	"none";
@layout-mobile-navigation-active-background-color:	#FFFFFF;
@layout-mobile-navigation-active-border-color:	#FFFFFF;
@layout-mobile-navigation-text-alignment:	"left";
@layout-mobile-navigation-active-font-color:	#FFFFFF;
@layout-mobile-navigation-levels:	3;
@product-list-enable-sorting:	False;
@product-list-enable-list-view:	True;
@product-list-enable-grid-view:	True;
@product-list-enable-details-view:	True;
@product-list-facets-view-mode:	none;
@product-list-open-facet-groups:	"1000";
@product-list-default-list-view:	"ProductItemContainer";
@product-list-price:	none;
@product-list-list-view-show-add-to-cart-button:	True;
@product-list-list-view-show-view-button:	True;
@product-list-list-view-show-product-number:	True;
@product-list-list-view-background-color:	#FFFFFF;
@product-list-list-view-border-color:	#FFFFFF;
@product-list-list-view-border-mode:	"none";
@product-list-list-view-view-more-text:	"View more";
@product-list-grid-view-columns:	"4";
@product-list-grid-view-show-add-to-cart-button:	True;
@product-list-grid-view-show-view-button:	True;
@product-list-grid-view-show-stock-and-shipping:	False;
@product-list-grid-view-show-product-number:	True;
@product-list-grid-view-alignment:	"center";
@product-list-grid-view-background-color:	#FFFFFF;
@product-list-grid-view-border-color:	#FFFFFF;
@product-list-grid-view-border-mode:	"none";
@product-list-grid-view-view-more-text:	"View more";
@product-list-details-view-show-add-to-cart-button:	True;
@product-list-details-view-show-view-button:	True;
@product-list-details-view-show-stock-and-shipping:	True;
@product-list-details-view-show-image:	True;
@product-list-details-view-background-color:	#FFFFFF;
@product-list-details-view-border-color:	#FFFFFF;
@product-list-details-view-border-mode:	"none";
@product-list-details-view-view-more-text:	"View more";
@product-list-facets-border-color:	#FFFFFF;
@product-list-facets-border-mode:	"none";
@product-list-facets-header-font-font-family-family:	"Lato";
@product-list-facets-header-font-font-family-weight:	"regular";
@product-list-facets-header-font-font-color:	#333333;
@product-list-facets-header-font-font-size:	14;
@product-list-facets-header-font-line-height:	1.4;
@product-list-facets-header-font-casing:	"none";
@product-list-facets-header-background-color:	#FFFFFF;
@product-list-facets-box-background-color:	#FFFFFF;
@product-list-facets-box-height:	"120";
@product-list-promotion-block-design:	none;
@product-page-image-section-position:	"left-right";
@product-page-top-layout:	"3";
@product-page-buy-section-alignment:	"left";
@product-page-stock-alignment:	"left";
@product-page-price-alignment:	"left";
@product-page-hide-stock-state:	False;
@product-page-hide-shipping:	False;
@product-page-hide-product-number:	False;
@product-page-full-description-layout:	"section";
@product-page-detail-fields-layout:	"section";
@product-page-category-fields-layout:	"section";
@product-page-downloads-layout:	"section";
@product-page-videos-layout:	"ribbon";
@product-page-related-products-layout:	"section";
@product-page-variants-list-layout:	"section";
@product-page-detail-fields-view:	"table";
@product-page-category-fields-view:	"table";
@product-page-downloads-view:	"table";
@product-page-price-font-design-font-family-family:	"Lato";
@product-page-price-font-design-font-family-weight:	"regular";
@product-page-price-font-design-font-color:	#333333;
@product-page-price-font-design-font-size:	14;
@product-page-price-font-design-line-height:	1.4;
@product-page-price-font-design-casing:	"none";
@product-page-price-background-color:	#FFFFFF;
@product-page-price-border-color:	#FFFFFF;
@product-page-render-variants-as-product-list:	False;
@product-page-render-variant-groups-in-table:	True;
@product-page-variants-table-columns:	none;
@ecommerce-checkout-hide-payment:	False;
@ecommerce-checkout-hide-shipping:	False;
@ecommerce-checkout-hide-voucher:	False;
@ecommerce-checkout-hide-recurring-order:	False;
@ecommerce-checkout-hide-comment:	False;
@ecommerce-checkout-hide-subtotal:	False;
@ecommerce-checkout-hide-quotes-cart-link:	False;
@ecommerce-checkout-hide-free-services:	False;
@ecommerce-receipt-logo-image:	none;
@ecommerce-receipt-header:	#FFFFFF;
@ecommerce-receipt-header-font-color:	#FFFFFF;
@ecommerce-sale-sticker-enable:	False;
@ecommerce-sale-sticker-design:	"squared";
@ecommerce-sale-sticker-background-color:	#FFFFFF;
@ecommerce-sale-sticker-font-font-family-family:	"Lato";
@ecommerce-sale-sticker-font-font-family-weight:	"regular";
@ecommerce-sale-sticker-font-font-color:	#333333;
@ecommerce-sale-sticker-font-font-size:	14;
@ecommerce-sale-sticker-font-line-height:	1.4;
@ecommerce-sale-sticker-font-casing:	"none";
@ecommerce-sale-sticker-content-type:	"Default+text";
@ecommerce-sale-sticker-expiration:	0;
@ecommerce-new-sticker-enable:	False;
@ecommerce-new-sticker-design:	"squared";
@ecommerce-new-sticker-background-color:	#FFFFFF;
@ecommerce-new-sticker-font-font-family-family:	"Lato";
@ecommerce-new-sticker-font-font-family-weight:	"regular";
@ecommerce-new-sticker-font-font-color:	#333333;
@ecommerce-new-sticker-font-font-size:	14;
@ecommerce-new-sticker-font-line-height:	1.4;
@ecommerce-new-sticker-font-casing:	"none";
@ecommerce-new-sticker-content-type:	"Default+text";
@ecommerce-new-sticker-expiration:	0;
@ecommerce-custom-sticker-enable:	False;
@ecommerce-custom-sticker-design:	"squared";
@ecommerce-custom-sticker-background-color:	#FFFFFF;
@ecommerce-custom-sticker-font-font-family-family:	"Lato";
@ecommerce-custom-sticker-font-font-family-weight:	"regular";
@ecommerce-custom-sticker-font-font-color:	#333333;
@ecommerce-custom-sticker-font-font-size:	14;
@ecommerce-custom-sticker-font-line-height:	1.4;
@ecommerce-custom-sticker-font-casing:	"none";
@ecommerce-custom-sticker-content-type:	"Default+text";
@ecommerce-custom-sticker-expiration:	0;
@ecommerce-point-shop-only:	False;
@ecommerce-loyalty-points-color:	#0A98DE;
@ecommerce-only-preview-for-anonymous:	False;
@settings-address-name:	none;
@settings-address-country:	none;
@settings-address-city:	none;
@settings-address-region:	none;
@settings-address-postal-code:	none;
@settings-address-street-address:	none;
@settings-address-cvr-number:	none;
@settings-business-name:	none;
@settings-contact-email:	none;
@settings-contact-number:	none;
@settings-business-photo:	none;
@settings-business-logo:	none;
@settings-opening-hours:	none;
@settings-wireframe-mode:	False;
@settings-google-maps-api-key:	none;
@settings-google-tag-manager-id:	none;
@settings-facebook-pixel-id:	none;
@custom-use-custom-javascript:	False;
@custom-custom-settings-custom-settings:	none;
