/// -----------------------------------------------------------------------------
    // WARNING: THIS FILE IS AUTO GENERATED
    // This file contains all application-wide Less variables.
    // -----------------------------------------------------------------------------
@layout-width:	"boxed";
@layout-center-width:	"1280px";
@layout-top:	"minimal";
@navigation-sticky-menu:	True;
@layout-background-color:	#FFFFFF;
@layout-background-image:	none;
@layout-brand-color-one:	#DB5353;
@layout-brand-color-two:	#38756C;
@layout-brand-color-three:	#27524B;
@layout-brand-color-four:	#E1EDED;
@layout-brand-color-five:	#96BED9;
@logo-image:	"/Files/Images/DWLogo.svg";
@logo-height:	40;
@logo-background-color:	none;
@logo-favicon:	"/Files/Images/favicon.png";
@top-background-color:	#4FA699;
@top-links-color:	#FFFFFF;
@top-links-active-color:	none;
@render-pages-in-tool-bar:	True;
@tools-menu-background-color:	#27524B;
@tools-menu-font-family-family:	"Abel";
@tools-menu-font-family-weight:	"regular";
@tools-menu-font-color:	#E0E0E0;
@tools-menu-font-size:	14;
@tools-menu-line-height:	1.5;
@tools-menu-casing:	"uppercase";
@toolbar-text:	"<i class="far fa-truck"></i> FREE shipping on orders over 500";
@navigation-height:	40;
@navigation-font-family-family:	"Abel";
@navigation-font-family-weight:	"regular";
@navigation-font-color:	#F7F7F7;
@navigation-font-size:	16;
@navigation-line-height:	1.2;
@navigation-casing:	"uppercase";
@navigation-active-font-color:	#A5F4E8;
@navigation-background-color:	#C9EB59;
@navigation-active-background-color:	none;
@navigation-active-design:	"line";
@navigation-shadow:	True;
@navigation-mega-menu:	"false";
@navigation-dropdown-background-color:	#F6F6F6;
@navigation-dropdown-font-color:	#27524B;
@navigation-dropdown-active-color:	#E8E8E8;
@navigation-dropdown-active-font-color:	#DB5353;
@navigation-dropdown-heading-color:	#333333;
@navigation-dropdown-heading-size:	1.8;
@navigation-megamenu-promotion-image:	none;
@navigation-megamenu-promotion-link:	"Default.aspx?Id=52";
@top-search:	"combinedSearch";
@search-results-facets-view-mode:	"left";
@show-groups-selector:	False;
@navigation-items-hide-search:	False;
@navigation-items-hide-sign-in:	False;
@navigation-items-hide-favorites:	False;
@navigation-items-hide-cart:	False;
@language-selector-view-type:	"flag-name";
@header-button-text:	none;
@header-button-link:	none;
@header-button-type:	"Primary";
@show-create-account-link:	True;
@show-my-profile-link:	True;
@show-my-orders-link:	True;
@show-my-favorites-link:	True;
@show-my-saved-cards-link:	True;
@-use-font-awesome-pro:	True;
@-sign-in-profile-icon:	"fas fa-user";
@-favorite-icon:	"heart-circle";
@-cart-icon:	"fal fa-shopping-bag";
@-language-icon:	"fal fa-globe";
@-search-icon:	"fas fa-search";
@-mobile-layout-top:	"search-left";
@-mobile-layout-logo:	"/Files/Images/DWLogo.png";
@-mobile-layout-top-background-color:	#38756C;
@-mobile-layout-top-font-color:	#FFFFFF;
@mobile-navigation-design:	"Slides";
@mobile-navigation-background-color:	#FFFFFF;
@mobile-navigation-border-color:	#F6F6F6;
@mobile-navigation-font-family-family:	"Abel";
@mobile-navigation-font-family-weight:	"regular";
@mobile-navigation-font-color:	#27524B;
@mobile-navigation-font-size:	18;
@mobile-navigation-line-height:	2;
@mobile-navigation-casing:	"none";
@mobile-navigation-active-background-color:	#F6F6F6;
@mobile-navigation-active-border-color:	#F6F6F6;
@mobile-navigation-text-alignment:	"left";
@mobile-navigation-active-font-color:	#DB5353;
@mobile-navigation-levels:	6;
@content-layout-header-font-family-family:	"Alegreya Sans";
@content-layout-header-font-family-weight:	"500";
@content-layout-header-font-color:	#38756C;
@content-layout-header-font-size:	42;
@content-layout-header-line-height:	1.4;
@content-layout-header-casing:	"none";
@content-layout-subheader-font-family-family:	"Barlow Semi Condensed";
@content-layout-subheader-font-family-weight:	"700";
@content-layout-subheader-font-color:	#38756C;
@content-layout-subheader-font-size:	24;
@content-layout-subheader-line-height:	1.4;
@content-layout-subheader-casing:	"none";
@content-layout-tertiary-header-font-family-family:	"Lato";
@content-layout-tertiary-header-font-family-weight:	"700";
@content-layout-tertiary-header-font-color:	#333333;
@content-layout-tertiary-header-font-size:	20;
@content-layout-tertiary-header-line-height:	1.4;
@content-layout-tertiary-header-casing:	"none";
@content-layout-body-text-font-family-family:	"Titillium Web";
@content-layout-body-text-font-family-weight:	"regular";
@content-layout-body-text-font-color:	#191919;
@content-layout-body-text-font-size:	16;
@content-layout-body-text-line-height:	1.4;
@content-layout-body-text-casing:	"none";
@content-layout-primary-background-color:	#DB5353;
@content-layout-primary-font-color:	#FFFFFF;
@content-layout-primary-font-size:	15;
@content-layout-primary-line-height:	20;
@content-layout-primary-font-weight:	"normal";
@content-layout-primary-button-design:	"square";
@content-layout-secondary-background-color:	#38756C;
@content-layout-secondary-font-color:	#38756C;
@content-layout-secondary-font-size:	15;
@content-layout-secondary-line-height:	20;
@content-layout-secondary-font-weight:	"normal";
@content-layout-secondary-button-design:	"outline-square";
@content-layout-tertiary-background-color:	#333333;
@content-layout-tertiary-font-color:	#FFFFFF;
@content-layout-tertiary-font-size:	15;
@content-layout-tertiary-line-height:	18;
@content-layout-tertiary-font-weight:	"normal";
@content-layout-tertiary-button-design:	"square";
@content-layout-links-color:	#DB5353;
@content-layout-links-hover-color:	#58B8A9;
@content-layout-pagination-active-color:	#254D47;
@footer-background-color:	#3B3B3B;
@footer-font-color:	#FFFFFF;
@footer-column-one-header:	"Contact";
@footer-column-two-header:	none;
@footer-column-two:	none;
@footer-column-three-header:	none;
@footer-column-three:	none;
@footer-newsletter-sign-up:	False;
@footer-social-links:	664;
@footer-copyright-text:	"© 2018 Dynamicweb. All rights reserved.";
@footer-payments:	665;
@email-logo-image:	"/Files/Images/DWLogo.png";
@email-logo-alignment:	none;
@footer-alignment:	none;
@header-and-footer-background-color:	#38756C;
@header-and-footer-font-color:	#FFFFFF;
@addresses-list-view:	"Rows";
@only-preview-for-anonymous:	False;
@enable-sale-tags:	True;
@ecommerce-sale-tag-design:	"rounded";
@ecommerce-sale-tag-background-color:	#DB5353;
@ecommerce-sale-tag-font-family-family:	"Amaranth";
@ecommerce-sale-tag-font-family-weight:	"regular";
@ecommerce-sale-tag-font-color:	#FFFFFF;
@ecommerce-sale-tag-font-size:	18;
@ecommerce-sale-tag-line-height:	1.8;
@ecommerce-sale-tag-casing:	"lowercase";
@ecommerce-sale-tag-content-type:	"Name";
@new-stickers-enable:	True;
@new-stickers-design:	"squared";
@new-stickers-expiration:	0;
@new-stickers-background:	#3467B0;
@new-stickers-font-family-family:	"Amaranth";
@new-stickers-font-family-weight:	"regular";
@new-stickers-font-color:	#333333;
@new-stickers-font-size:	14;
@new-stickers-line-height:	1.4;
@new-stickers-casing:	"none";
@custom-stickers-design:	"squared";
@custom-stickers-background-color:	#000000;
@custom-stickers-font-family-family:	"Abril Fatface";
@custom-stickers-font-family-weight:	"regular";
@custom-stickers-font-color:	#FFFFFF;
@custom-stickers-font-size:	17;
@custom-stickers-line-height:	2;
@custom-stickers-casing:	"none";
@ecommerce-receipt-logo-image:	"/Files/Images/DWLogo.png";
@ecommerce-receipt-header:	#38756C;
@ecommerce-receipt-header-font-color:	#FFFFFF;
@ecommerce-facets-view-mode:	"left";
@-facets-border-color:	#7E7E7E;
@-facets-border-mode:	"line";
@-facets-header-font-font-family-family:	"Lato";
@-facets-header-font-font-family-weight:	"regular";
@-facets-header-font-font-color:	#333333;
@-facets-header-font-font-size:	14;
@-facets-header-font-line-height:	1.4;
@-facets-header-font-casing:	"none";
@-facets-header-background-color:	#FFFFFF;
@-facets-box-background-color:	#FFFFFF;
@-facets-box-height:	"250";
@open-facet-groups:	"3";
@promotion-block-design:	"Disable";
@-view-more-button-text:	none;
@-show-product-number:	False;
@-price-font-design-font-family-family:	"Lato";
@-price-font-design-font-family-weight:	"regular";
@-price-font-design-font-color:	#333333;
@-price-font-design-font-size:	18;
@-price-font-design-line-height:	1.4;
@-price-font-design-casing:	"none";
@-price-background-color:	none;
@-price-border-color:	none;
@hide-sorting:	False;
@product-item-container:	True;
@product-grid-item-container:	True;
@product-details-item-container:	True;
@product-default-list-view:	"ProductGridItemContainer";
@-list-view-show-add-to-cart-button:	True;
@-list-view-show-view-button:	True;
@-list-view-background-color:	#FFFFFF;
@-list-view-border-color:	#7C6AA8;
@-list-view-border-mode:	"frame-lines";
@-grid-view-columns:	"3";
@-grid-view-show-add-to-cart-button:	False;
@-grid-view-show-view-button:	False;
@-grid-view-show-stock-and-shipping:	False;
@-grid-view-alignment:	"center";
@-grid-view-background-color:	#FFFFFF;
@-grid-view-border-color:	#674FA8;
@-grid-view-border-mode:	"frame-lines";
@-details-view-show-add-to-cart-button:	True;
@-details-view-show-view-button:	True;
@-details-view-show-stock-and-shipping:	True;
@-details-view-show-image:	True;
@-details-view-background-color:	#FFFFFF;
@-details-view-border-color:	#7651A8;
@-details-view-border-mode:	"around";
@-product-details-image-section-position:	"right-right";
@-product-details-top-layout:	"6";
@-product-details-buy-section-alignment:	"left";
@-product-details-stock-alignment:	"left";
@-product-details-price-alignment:	"left";
@-product-details-hide-stock-state:	False;
@-product-details-hide-shipping:	False;
@-product-details-hide-product-number:	False;
@-product-details-full-description-layout:	"tab";
@-product-details-detail-fields-layout:	"top";
@-product-details-category-fields-layout:	"ribbon";
@-product-details-downloads-layout:	"tab";
@-product-details-videos-layout:	none;
@-product-details-related-products-layout:	"section";
@-product-details-variants-list-layout:	"hide";
@-product-details-detail-fields-view:	"table";
@-product-details-category-fields-view:	"grid";
@-product-details-downloads-view:	"table";
@-product-details-price-font-design-font-family-family:	"Lato";
@-product-details-price-font-design-font-family-weight:	"regular";
@-product-details-price-font-design-font-color:	#333333;
@-product-details-price-font-design-font-size:	20;
@-product-details-price-font-design-line-height:	1.4;
@-product-details-price-font-design-casing:	"none";
@-product-details-price-background-color:	#FFFFFF;
@-product-details-price-border-color:	#FFFFFF;
@-product-details-render-variants-as-product-list:	False;
@-product-details-render-variant-groups-in-table:	False;
@-product-details-variants-table-columns:	none;
@hide-payment:	False;
@hide-shipping:	False;
@hide-voucher:	False;
@hide-recurring-order:	False;
@hide-comment:	False;
@hide-subtotal:	False;
@hide-quotes-cart-link:	False;
@hide-free-services:	False;
@loyalty-points-color:	none;
@-name:	"Dynamicweb Software A/S";
@-country:	"Denmark";
@-city:	"Viby J";
@-region:	"Aarhus";
@-postal-code:	"8260";
@-street-address:	"Bjørnholms Alle 30";
@-cvr-number:	none;
@business-name:	"Dynamicweb Software A/S";
@contact-email:	"info@dynamicweb.dk";
@contact-number:	"+4570252090";
@business-photo:	"/Files/Images/logo-dynamicweb.png";
@business-logo:	none;
@opening-hours:	none;
@wireframe-mode:	False;
@google-maps-api-key:	none;
@google-tag-manager-id:	none;
@point-shop-only:	False;
@facebook-pixel-id:	none;
@use-custom-javascript:	False;
@custom-settings-custom-settings:	none;
