﻿.btn--primary.dw-mod {
  border-width: 1px;
  border-color: #DB5353;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: normal;
  border-radius: 0;
  background-color: #DB5353;
}
.btn--primary.dw-mod:focus,
.btn--primary.dw-mod:hover,
.btn--primary.dw-mod:active,
.btn--primary.dw-mod.btn--active {
  background-color: #c54b4b;
}
.btn--secondary.dw-mod {
  border-width: 1px;
  border-color: #38756C;
  color: #38756C;
  font-size: 15px;
  font-weight: normal;
  border-radius: 0;
  background-color: transparent;
}
.btn--secondary.dw-mod:focus,
.btn--secondary.dw-mod:hover,
.btn--secondary.dw-mod:active,
.btn--secondary.dw-mod.btn--active {
  background-color: #38756C;
  color: #ffffff;
}
.btn--tertiary.dw-mod {
  border-width: 1px;
  border-color: #333333;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: normal;
  border-radius: 0;
  background-color: #333333;
}
.btn--tertiary.dw-mod:focus,
.btn--tertiary.dw-mod:hover,
.btn--tertiary.dw-mod:active,
.btn--tertiary.dw-mod.btn--active {
  background-color: #2e2e2e;
}
.btn--link.dw-mod {
  color: #DB5353;
}
.btn--link.dw-mod:focus,
.btn--link.dw-mod:hover,
.btn--link.dw-mod:active {
  color: #58B8A9;
}
.pager__num:hover:not(.pager__num--current):not(.pager__num--ellipsis) {
  border: 1px solid #254D47;
}
.pager__num.pager__num--current {
  background-color: #254D47;
}
a {
  color: #0085CA;
  text-decoration: none;
  word-wrap: break-word;
}
a:hover {
  color: #0071ac;
}
/**
 * Basic typography style for text
 * Warning: These styles overrides without the default .dw-mod class, as they all target the most basic required elements
 */
h1 {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.4;
  color: #38756C;
}
h2 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  color: #38756C;
}
h3 {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  color: #333333;
}
body {
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
  font-weight: regular;
  line-height: 1.4;
  color: #191919;
}
a,
.link {
  color: #DB5353;
}
a:hover,
a:active,
a:focus,
.link:hover,
.link:active,
.link:focus {
  color: #58B8A9;
}
.u-brand-color-one,
.u-brand-color-one h1,
.u-brand-color-one h2,
.u-brand-color-one h3,
.u-brand-color-one h4,
.u-brand-color-one h5,
.u-brand-color-one h6,
.u-brand-color-one i {
  color: #DB5353;
}
.u-brand-color-one--bg {
  background-color: #DB5353 !important;
  -webkit-print-color-adjust: exact;
}
.u-brand-color-one--bg-lighten-10 {
  background-color: #e47d7d;
}
.u-brand-color-one--bg-lighten-20 {
  background-color: #eda7a7;
}
.u-brand-color-one--bg-darken-10 {
  background-color: #d02b2b;
}
.u-brand-color-one--bg-darken-20 {
  background-color: #a52323;
}
.u-brand-color-two,
.u-brand-color-two h1,
.u-brand-color-two h2,
.u-brand-color-two h3,
.u-brand-color-two h4,
.u-brand-color-two h5,
.u-brand-color-two h6,
.u-brand-color-two i {
  color: #38756C;
}
.u-brand-color-two--bg {
  background-color: #38756C !important;
  -webkit-print-color-adjust: exact;
}
.u-brand-color-two--bg-lighten-10 {
  background-color: #49978c;
}
.u-brand-color-two--bg-lighten-20 {
  background-color: #60b3a7;
}
.u-brand-color-two--bg-darken-10 {
  background-color: #27534c;
}
.u-brand-color-two--bg-darken-20 {
  background-color: #17302c;
}
.u-brand-color-three,
.u-brand-color-three h1,
.u-brand-color-three h2,
.u-brand-color-three h3,
.u-brand-color-three h4,
.u-brand-color-three h5,
.u-brand-color-three h6,
.u-brand-color-three i {
  color: #27524B;
}
.u-brand-color-three--bg {
  background-color: #27524B !important;
  -webkit-print-color-adjust: exact;
}
.u-brand-color-three--bg-lighten-10 {
  background-color: #37756b;
}
.u-brand-color-three--bg-lighten-20 {
  background-color: #48978a;
}
.u-brand-color-three--bg-darken-10 {
  background-color: #172f2b;
}
.u-brand-color-three--bg-darken-20 {
  background-color: #060d0c;
}
.u-brand-color-four,
.u-brand-color-four h1,
.u-brand-color-four h2,
.u-brand-color-four h3,
.u-brand-color-four h4,
.u-brand-color-four h5,
.u-brand-color-four h6,
.u-brand-color-four i {
  color: #E1EDED;
}
.u-brand-color-four--bg {
  background-color: #E1EDED !important;
  -webkit-print-color-adjust: exact;
}
.u-brand-color-four--bg-lighten-10 {
  background-color: #ffffff;
}
.u-brand-color-four--bg-lighten-20 {
  background-color: #ffffff;
}
.u-brand-color-four--bg-darken-10 {
  background-color: #c1dada;
}
.u-brand-color-four--bg-darken-20 {
  background-color: #a1c7c7;
}
.u-brand-color-five,
.u-brand-color-five h1,
.u-brand-color-five h2,
.u-brand-color-five h3,
.u-brand-color-five h4,
.u-brand-color-five h5,
.u-brand-color-five h6,
.u-brand-color-five i {
  color: #96BED9;
}
.u-brand-color-five--bg {
  background-color: #96BED9 !important;
  -webkit-print-color-adjust: exact;
}
.u-brand-color-five--bg-lighten-10 {
  background-color: #bbd5e7;
}
.u-brand-color-five--bg-lighten-20 {
  background-color: #e1ecf4;
}
.u-brand-color-five--bg-darken-10 {
  background-color: #71a7cb;
}
.u-brand-color-five--bg-darken-20 {
  background-color: #4b90be;
}
.u-font-awesome {
  font-family: "Font Awesome 5 Pro", "Font Awesome 5 Free", "Titillium Web";
  font-weight: 900;
}
.center-container.dw-mod {
  max-width: 1280px;
}
.site.dw-mod {
  background-color: #FFFFFF;
}
.logo__img.dw-mod {
  height: 40px;
}
.tools-navigation.dw-mod {
  background-color: #27524B;
  font-family: "Abel";
  font-size: 14px;
  font-weight: regular;
  line-height: 1.5em;
  text-transform: uppercase;
  color: #E0E0E0;
}
.menu-tools__link.dw-mod {
  font-family: "Abel";
  font-size: 14px;
  font-weight: regular;
  line-height: 1.5em;
  text-transform: uppercase;
  color: #E0E0E0;
}
.menu-tools__link.dw-mod:hover {
  color: #E0E0E0;
}
.main-navigation.dw-mod {
  background-color: #C9EB59;
  box-shadow: 0px 2px 20px 1px rgba(0, 0, 0, 0.25);
}
.main-navigation-mobile.dw-mod {
  background-color: #38756C;
  box-shadow: 0px 2px 20px 1px rgba(0, 0, 0, 0.25);
}
.main-navigation-mobile.dw-mod .menu__link.dw-mod {
  color: #FFFFFF;
}
.menu--dropdown.dw-mod,
.menu--dropleft.dw-mod {
  background-color: #F6F6F6;
}
.menu--dropdown.dw-mod .menu-dropdown__link.dw-mod,
.menu--dropleft.dw-mod .menu-dropdown__link.dw-mod {
  color: #27524B;
  font-size: 16px;
}
.menu--dropdown.dw-mod > .menu__item:after,
.menu--dropleft.dw-mod > .menu__item:after {
  color: #27524B;
}
.is-dropdown.dw-mod::after {
  color: #F7F7F7;
  font-size: 16px;
  line-height: 2.2em;
  line-height: 54px;
}
.menu-dropdown__item.dw-mod {
  color: #27524B;
  font-size: 16px;
}
.menu-dropdown__link.dw-mod,
.menu--dropdown .list__link.dw-mod {
  color: #27524B;
  font-size: 16px;
  font-family: "Abel", sans-serif;
}
.menu--dropdown.dw-mod .menu__item:not(.menu__item--disabled):hover,
.menu--dropleft.dw-mod .menu__item:not(.menu__item--disabled):hover,
.mega-menu.dw-mod .menu__item--mega:not(.menu__item--disabled):hover {
  background-color: #E8E8E8;
}
.menu--dropdown.dw-mod .menu__item:not(.menu__item--disabled):hover::after,
.menu--dropleft.dw-mod .menu__item:not(.menu__item--disabled):hover::after,
.mega-menu.dw-mod .menu__item--mega:not(.menu__item--disabled):hover::after {
  color: #DB5353;
}
.menu--dropdown.dw-mod .menu__item:not(.menu__item--disabled):hover > .menu-dropdown__link.dw-mod,
.menu--dropleft.dw-mod .menu__item:not(.menu__item--disabled):hover > .menu-dropdown__link.dw-mod,
.mega-menu.dw-mod .menu__item--mega:not(.menu__item--disabled):hover > .menu-dropdown__link.dw-mod {
  color: #DB5353;
  background-color: #E8E8E8;
}
.menu--dropdown.dw-mod .menu__item:not(.menu__item--disabled):hover > .mega-menu__link.dw-mod,
.menu--dropleft.dw-mod .menu__item:not(.menu__item--disabled):hover > .mega-menu__link.dw-mod,
.mega-menu.dw-mod .menu__item--mega:not(.menu__item--disabled):hover > .mega-menu__link.dw-mod {
  color: #DB5353;
  background-color: #E8E8E8;
}
.mega-menu.dw-mod {
  background-color: #F6F6F6;
}
.mega-menu__header-container__text.dw-mod {
  color: #333333;
  font-size: 1.8rem;
  font-family: "Abel", sans-serif;
  text-transform: uppercase;
}
.mega-menu__link.dw-mod {
  color: #27524B;
  font-size: 16px;
  font-family: "Abel", sans-serif;
}
.is-mega.dw-mod::before {
  line-height: 56px;
  color: #F7F7F7;
}
.menu__link.dw-mod {
  font-family: "Abel", sans-serif;
  font-size: 16px;
  font-weight: regular;
  line-height: 1.2;
  color: #F7F7F7;
  text-transform: uppercase;
  line-height: 40px;
}
.header-menu__link.dw-mod {
  line-height: 40px;
}
.header-menu__link.dw-mod:hover {
  background-color: #E8E8E8;
  color: #DB5353;
}
.menu__item--active.dw-mod:not(.menu__item--top-level, .menu__item--clean),
.menu__item.dw-mod:not(.menu__item--top-level, .menu__item--clean),
.menu__item--active.dw-mod:not(.menu__item--top-level, .menu__item--clean):hover,
.menu__item.dw-mod:not(.menu__item--top-level, .menu__item--clean):hover,
.menu__item--active.dw-mod:not(.menu__item--top-level, .menu__item--clean):focus,
.menu__item.dw-mod:not(.menu__item--top-level, .menu__item--clean):focus,
.menu__item--active.dw-mod:not(.menu__item--top-level, .menu__item--clean):active,
.menu__item.dw-mod:not(.menu__item--top-level, .menu__item--clean):active {
  background-color: #E8E8E8;
  color: #DB5353;
}
.menu__item--top-level {
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}
.menu__item--top-level.menu__item--active.dw-mod,
.menu__item--top-level.dw-mod:not(.menu__item--disabled):hover,
.menu__item--top-level.dw-mod:not(.menu__item--disabled):focus,
.menu__item--top-level.dw-mod:not(.menu__item--disabled):active {
  border-bottom-color: #A5F4E8;
  color: #A5F4E8;
}
.menu__item--top-level.menu__item--active.dw-mod::before,
.menu__item--top-level.dw-mod:not(.menu__item--disabled):hover::before,
.menu__item--top-level.dw-mod:not(.menu__item--disabled):focus::before,
.menu__item--top-level.dw-mod:not(.menu__item--disabled):active::before,
.menu__item--top-level.menu__item--active.dw-mod::after,
.menu__item--top-level.dw-mod:not(.menu__item--disabled):hover::after,
.menu__item--top-level.dw-mod:not(.menu__item--disabled):focus::after,
.menu__item--top-level.dw-mod:not(.menu__item--disabled):active::after {
  color: #A5F4E8;
}
.menu__item--top-level.menu__item--active.dw-mod .menu__link,
.menu__item--top-level.dw-mod:not(.menu__item--disabled):hover .menu__link,
.menu__item--top-level.dw-mod:not(.menu__item--disabled):focus .menu__link,
.menu__item--top-level.dw-mod:not(.menu__item--disabled):active .menu__link {
  color: #A5F4E8;
}
.mini-cart-dropdown.dw-mod {
  background-color: #F6F6F6;
  font-size: 16px;
  color: #27524B;
}
.mini-cart-dropdown.dw-mod h4 {
  color: #27524B;
}
.mini-cart-dropdown.dw-mod .mini-cart-orderlines__name {
  color: #27524B;
}
.header-menu__link.dw-mod {
  color: #FFFFFF;
}
.header-top.dw-mod {
  background-color: #4FA699;
}
.header-top.dw-mod .header-menu__link:hover {
  background-color: #4FA699;
}
.main-navigation.main-navigation--nav-style.dw-mod {
  background-color: #C9EB59;
}
.main-navigation.main-navigation--nav-style.dw-mod .menu__link.dw-mod {
  color: #F7F7F7;
}
.main-navigation.main-navigation--nav-style.dw-mod .menu__link.dw-mod:active,
.main-navigation.main-navigation--nav-style.dw-mod .menu__link.dw-mod:focus,
.main-navigation.main-navigation--nav-style.dw-mod .menu__link.dw-mod:hover {
  color: #A5F4E8;
}
.main-navigation.main-navigation--top-style.dw-mod {
  background-color: #4FA699;
}
.main-navigation.main-navigation--top-style.dw-mod .menu__link.dw-mod {
  color: #FFFFFF;
}
.main-navigation.main-navigation--top-style.dw-mod .menu__link.dw-mod:active,
.main-navigation.main-navigation--top-style.dw-mod .menu__link.dw-mod:focus,
.main-navigation.main-navigation--top-style.dw-mod .menu__link.dw-mod:hover {
  background-color: #4FA699;
}
.mobile-navigation.dw-mod {
  background-color: #FFFFFF;
}
.menu-mobile__link.dw-mod,
.mobile-navigation__link.dw-mod,
.menu-mobile__header.dw-mod {
  font-family: "Abel";
  font-size: 18px;
  font-weight: regular;
  line-height: 2em;
  color: #27524B;
}
.menu-mobile__link.dw-mod,
.mobile-navigation__link.dw-mod {
  border-bottom-color: #F6F6F6;
  text-align: left;
}
.mobile-navigation.dw-mod div.btn.dw-mod,
.mobile-navigation.dw-mod label.btn.dw-mod,
.mobile-navigation.dw-mod .circle-icon-btn.dw-mod,
.menu-mobile__link--closed:before {
  color: #27524B;
}
.mobile-navigation.dw-mod .circle-icon-btn.dw-mod:after {
  border-color: #27524B;
}
.mobile-navigation__link.dw-mod:hover,
.mobile-navigation__link.dw-mod:focus,
.mobile-navigation__link.dw-mod:active {
  background-color: #F6F6F6;
  border-bottom-color: #F6F6F6;
  color: #DB5353;
}
.menu-mobile__link--active.dw-mod:not(.is-submenu),
.menu-mobile__link.dw-mod:hover:not(.is-submenu),
.menu-mobile__link.dw-mod:focus:not(.is-submenu),
.menu-mobile__link.dw-mod:active:not(.is-submenu) {
  background-color: #F6F6F6;
  border-bottom-color: #F6F6F6;
  color: #DB5353;
}
.menu-mobile__link--active.dw-mod:hover,
.menu-mobile__link.dw-mod:hover,
.menu-mobile__header.dw-mod:hover,
.menu-mobile__link--highlighted.dw-mod:hover,
.menu-mobile__link--active.dw-mod:focus,
.menu-mobile__link.dw-mod:focus,
.menu-mobile__header.dw-mod:focus,
.menu-mobile__link--highlighted.dw-mod:focus,
.menu-mobile__link--active.dw-mod:active,
.menu-mobile__link.dw-mod:active,
.menu-mobile__header.dw-mod:active,
.menu-mobile__link--highlighted.dw-mod:active {
  background-color: #F6F6F6;
  border-bottom-color: #F6F6F6;
  color: #DB5353;
}
.menu-mobile__header.dw-mod,
.menu-mobile__link--highlighted.dw-mod {
  background-color: #F6F6F6;
  border-bottom-color: #F6F6F6;
  color: #DB5353;
}
/* slides design */
.menu-mobile__submenu {
  position: absolute;
  left: 300px;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: all 0.25s ease-in-out;
  display: block;
  background-color: #FFFFFF;
}
.expand-trigger:checked ~ .menu-mobile__submenu {
  left: 0;
}
.menu-mobile__trigger:before {
  color: #27524B;
}
.menu-mobile__trigger:before,
.expand-trigger:checked ~ .menu-mobile__link__wrap .menu-mobile__trigger:before {
  content: "\f105";
  margin: -3px auto 1px;
}
.footer.dw-mod {
  background-color: #3B3B3B;
  color: #FFFFFF;
}
.footer__heading.dw-mod {
  background-color: #3B3B3B;
  color: #FFFFFF;
}
.footer.dw-mod .collection.dw-mod a {
  background-color: #3B3B3B;
  color: #FFFFFF;
}
.product-thumbs__item.dw-mod:hover,
.product-thumbs__item--active.dw-mod {
  border: 4px solid #38756C;
}
/* 
    Sale stickers
*/
.stickers-container__tag--sale.dw-mod {
  font-family: "Amaranth", sans-serif;
  font-size: 18px;
  font-weight: regular;
  line-height: 1.8;
  color: #FFFFFF;
  text-transform: lowercase;
  background-color: #DB5353;
  border-radius: 5px 5px 5px 5px;
}
/* 
    New stickers
*/
.stickers-container__tag--new.dw-mod {
  font-family: "Amaranth", sans-serif;
  font-size: 14px;
  font-weight: regular;
  line-height: 1.4;
  color: #333333;
  background-color: #3467B0;
}
/*
    Custom sticker
*/
.stickers-container__tag--custom.dw-mod {
  font-family: "Abril Fatface", sans-serif;
  font-size: 17px;
  font-weight: regular;
  line-height: 2;
  color: #FFFFFF;
  background-color: #000000;
}
.receipt__header.dw-mod {
  background-color: #38756C !important;
}
.receipt__header.dw-mod * {
  color: #FFFFFF !important;
}
.product__price-actions__actions.dw-mod {
  text-align: left;
}
.product__stock-delivery.dw-mod {
  text-align: left;
}
.product__price-actions__price.dw-mod {
  text-align: left;
}
.price--product-page.dw-mod {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: regular;
  line-height: 1.4;
  color: #333333;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  display: inline-block;
}
.mini-cart-update .menu-tools__link.dw-mod {
  color: #fff;
}
.price--product-list.dw-mod {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: regular;
  line-height: 1.4;
  color: #333333;
}
.product-list__list-item.dw-mod {
  background-color: #FFFFFF;
  border-color: #7C6AA8;
  border: 1px solid #7C6AA8;
}
.product-list__list-item.dw-mod .product-list__list-item__left.dw-mod {
  border: none;
  border-right: 1px solid #7C6AA8;
}
.product-list__list-item.dw-mod .product-list__list-item__right.dw-mod {
  border: none;
}
.product-list__grid-item.dw-mod .product-list__grid-item__price-info.dw-mod,
.product-list__grid-item.dw-mod .product-list__grid-item__footer.dw-mod {
  background-color: #FFFFFF;
}
.product-list__grid-item.dw-mod .product-list__grid-item__image.dw-mod {
  border: 1px solid #674FA8;
}
.product-list__grid-item.dw-mod .product-list__grid-item__price-info.dw-mod {
  border-right: 1px solid #674FA8;
  border-left: 1px solid #674FA8;
}
.product-list__grid-item.dw-mod .product-list__grid-item__footer.dw-mod {
  border: 1px solid #674FA8;
  border-top: none;
}
.product-list__grid-item__price-info.dw-mod {
  text-align: center;
}
.product-list__details-item.dw-mod {
  background-color: #FFFFFF;
  border-color: #7651A8;
  margin-top: 0.5em;
  border: 1px solid #7651A8;
}
.expand-trigger:checked + .expand-container .expand-container__content .facets-container__list.dw-mod {
  max-height: 250px;
}
.facets-container__header.dw-mod {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: regular;
  line-height: 1.4;
  color: #333333;
  background-color: #FFFFFF;
}
.facets-container.dw-mod .facets-container__box {
  background-color: #FFFFFF;
}
.facets-container.dw-mod .facets-container__box,
.facets-container.dw-mod .facets-container__header {
  border: none;
}
.facets-container.dw-mod .facets-container__box {
  border: none;
}
.facets-container.dw-mod .facets-container__header {
  border-bottom: 1px solid #7E7E7E;
}