﻿
@{
	ViewBag.Title = "Dynamicweb test controller";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dynamicweb test controller and view</title>
</head>
<body>
    <div> 
		<h1>Dynamicweb test controller and view</h1>
    </div>
</body>
</html>
