@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@using Dynamicweb
@using Dynamicweb.Core
@using Dynamicweb.Frontend.Devices
@using System.Web

@{
    string currentView = GetString("Ecom:CustomerCenter.RecurringOrderDetails.CurrentView");
    bool isPrevious = currentView == "previous";
}


<div class="grid__col-12 grid__col--bleed">
    <div class="grid__cell">
        <div class="u-pull--left">
            <h2><i class="fas fa-calendar"></i> @GetGlobalValue("Global:Page.Name")</h2>
        </div>
        <div class="u-pull--right">
            @if (!string.IsNullOrEmpty(GetString("Ecom:CustomerCenter.RecurringOrder.PreviousRecurringOrdersURL")))
            {
                <a href="@GetString("Ecom:CustomerCenter.RecurringOrder.PreviousRecurringOrdersURL")" class="btn btn--secondary btn--condensed dw-mod @(isPrevious ? "btn--active" : "")" title="@Translate("Previous deliveries")">@Translate("Previous deliveries")</a>
                <span class="btn btn--secondary btn--condensed dw-mod @(!isPrevious ? "btn--active" : "")">@Translate("Future deliveries")</span>
            }
            @if (!string.IsNullOrEmpty(GetString("Ecom:CustomerCenter.RecurringOrder.FutureDeliveriesURL")))
            {
                <span class="btn btn--secondary btn--condensed dw-mod @(isPrevious ? "btn--active" : "")">@Translate("Previous deliveries")</span>
                <a href="@GetString("Ecom:CustomerCenter.RecurringOrder.FutureDeliveriesURL")" class="btn btn--secondary btn--condensed dw-mod @(!isPrevious ? "btn--active" : "")" title="@Translate("Future deliveries")">@Translate("Future deliveries")</a>
            }
        </div>
    </div>
</div>

<div class="grid__col-md-12 media-list-item media-list-item--gray dw-mod">
    <div class="grid__cell">
        <div class="media-list-item__column dw-mod">
            <div class="media-list-item__info media-list-item__info--without-indent dw-mod">
                <div class="media-list-item__header dw-mod">
                    <div class="media-list-item__name media-list-item__name--no-link dw-mod">@Translate("No.") @GetString("Ecom:Order.ID")</div>
                </div>
                <div><span class="media-list-item__parameter-label dw-mod">@Translate("Frequency"):</span> @GetString("Ecom:CustomerCenter.RecurringOrder.Frequency")</div>
                <div><span class="media-list-item__parameter-label dw-mod">@Translate("Start date"):</span> @GetDate("Ecom:CustomerCenter.RecurringOrder.StartDate").ToString("dd/MM/yyyy")</div>
                <div>
                    <span class="media-list-item__parameter-label dw-mod">@Translate("End date"):</span>
                    @if (!string.IsNullOrWhiteSpace(GetString("Ecom:CustomerCenter.RecurringOrder.EndDate")))
                    {
                        @GetDate("Ecom:CustomerCenter.RecurringOrder.EndDate").ToString("dd/MM/yyyy")
                    }
                    else
                    {
                        @Translate("Never")
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@{
    if ((GetBoolean("Ecom:CustomerCenter.PreviousRecurringOrders.EmptyList") && isPrevious) || (GetBoolean("Ecom:CustomerCenter.FutureRecurringOrders.EmptyList") && !isPrevious))
    {
        <div class="grid__col-12 u-margin-top--lg">
            @Translate("No deliveries found")
        </div>
    }
    else
    {
        if (!GetBoolean("Ecom:CustomerCenter.FutureRecurringOrders.EmptyList") && !isPrevious)
        {
            foreach (LoopItem delivery in GetLoop("FutureRecurringOrders"))
            {
                bool isCanceled = !string.IsNullOrEmpty(delivery.GetString("Ecom:FutureRecurringOrder.Canceled"));

                <div class="grid__col-md-12 media-list-item dw-mod">
                    <div class="grid__cell">
                        <div class="media-list-item__column dw-mod">
                            <div class="media-list-item__info media-list-item__info--without-indent dw-mod">
                                <div>
                                    <span class="media-list-item__parameter-label dw-mod">@Translate("Delivery date"):</span> 
                                    <span class="u-bold">@delivery.GetDate("Ecom:FutureRecurringOrder.Date").ToString("dd/MM/yyyy")</span>
                                </div>
                                <div><span class="media-list-item__parameter-label dw-mod">@Translate("Status"):</span> @(isCanceled ? @Translate("Canceled") : @Translate("Active"))</div>
                            </div>
                        </div>
                        <div class="media-list-item__actions media-list-item__actions--without-indent dw-mod">
                            <a href="@delivery.GetString("Ecom:CustomerCenter.FutureRecurringOrder.ToggleUrl")" title="@Translate("Toggle delivery this recurring order")">
                                @(isCanceled ? @Translate("Restore delivery") : @Translate("Cancel delivery"))
                            </a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            foreach (LoopItem delivery in GetLoop("PreviousRecurringOrders"))
            {
                <div class="grid__col-md-12 media-list-item dw-mod">
                    <div class="grid__cell">
                        <div class="media-list-item__column dw-mod">
                            <div class="media-list-item__info media-list-item__info--without-indent dw-mod">
                                <div>
                                    <span class="media-list-item__parameter-label dw-mod">@Translate("Delivery date"):</span> 
                                    <span class="u-bold">@delivery.GetDate("Ecom:Order.Date").ToString("dd/MM/yyyy")</span>
                                </div>
                                <div><span class="media-list-item__parameter-label dw-mod">@Translate("Status"):</span> @Translate("Ended")</div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

        string pagingShowTag = isPrevious ? "Ecom:CustomerCenter.PreviousRecurringOrders.Paging.Show" : "Ecom:CustomerCenter.FutureRecurringOrders.Paging.Show";

        if (!string.IsNullOrWhiteSpace(GetString(pagingShowTag)))
        {
            <div class="pager u-margin-top">
                <div class="pager__info">
                    @Translate("Page") @GetString("Ecom:CustomerCenter.Paging.CurrentPage") @Translate("of") @GetString("Ecom:CustomerCenter.Paging.NumPages")
                </div>
                <ul class="pager__list">
                    @if (!string.IsNullOrWhiteSpace(GetString("Ecom:CustomerCenter.Paging.Back.URL")))
                    {
                        <li class="pager__btn">
                            <a href="@GetString("Ecom:CustomerCenter.Paging.Back.URL")" class="pager__num dw-mod"><i class="fas fa-angle-left"></i></a>
                        </li>
                    }

                    @if (!string.IsNullOrWhiteSpace(GetString("Ecom:CustomerCenter.Paging.HasPages")))
                    {
                        foreach (LoopItem page in GetLoop("Ecom:CustomerCenter.Paging.Pages"))
                        {
                            bool isActive = page.GetString("Ecom:CustomerCenter.Paging.PageClass") == "currentPage";
                            <li class="pager__btn">
                                @if (isActive)
                            {
                                    <span class="pager__num pager__num--current dw-mod">
                                        @page.GetString("Ecom:CustomerCenter.Paging.PageIndex")
                                    </span>
                                }
                                else
                                {
                                    <a href="@page.GetString("Ecom:CustomerCenter.Paging.PageIndexUrl")" class="pager__num dw-mod">
                                        @page.GetString("Ecom:CustomerCenter.Paging.PageIndex")
                                    </a>
                                }
                            </li>
                        }                                                                                                                                                                                                           <text></text>
                    }

                    @if (!string.IsNullOrWhiteSpace(GetString("Ecom:CustomerCenter.Paging.Forward.URL")))
                    {
                        <li class="pager__btn">
                            <a href="@GetString("Ecom:CustomerCenter.Paging.Forward.URL")" class="pager__num dw-mod"><i class="fas fa-angle-right"></i></a>
                        </li>
                    }
                </ul>
            </div>
        }
    }
}